/* Mobile first */
/* Header */
::selection {
  color: var(--color-zero);
  background: var(--color-primary);
}

.Header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.Header__navbar {
  height: 85px;
  display: flex;
  width: 100%;
  position: fixed;
  flex-direction: column;
  background: var(--color-zero);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.Header__navbar--logo {
  padding-top: 5px;
  width: 170px;
}

.Header__navbar--menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.Header__navbar--menu a {
  color: var(--color-primary);
  transition: all 200ms;
}

.Header__navbar--menu a:hover {
  color: var(--color-second);
}

.Header__navbar--menu li {  
  padding-left: 10px;
}

.Header__banner {
  margin-top: 85px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.Header__banner--text {
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: var(--color-negative);
  line-height: 18px;
}

.Header__banner--button {
  color: var(--color-primary);
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  padding: 8px 20px;
  transition: all 200ms ;
  font-size: 20px;
  margin-bottom: 20px;
}

.Header__banner--button:hover {
  color: var(--color-zero);
  background: var(--color-primary);
}

/* Main */

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/background.svg') 50% 50%;
  background-color: var(--color-zero);
}

.Main--text {
  align-self: flex-start;
  color: var(--color-negative);
  margin: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.Main--text::after {
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background: var(--color-second);
}

.Main__form {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Main__form label {
  margin: 2px;
}

.Main__form input,
.Main__form select {
  border: solid 2px gray;
  padding: 5px;
}

.Main__form--origem,
.Main__form--destino,
.Main__form--tempo,
.Main__form--plano,
.Main__form--button,
.Main__form--result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.Main__form--origem select{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #F1F2F2;
}

.Main__form--destino select {
  background: #F1F2F2;
}

.Main__form--tempo input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Main__form--plano select{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #F1F2F2;
}

.Main__form--button input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 159px;
  height: 32px;
  background: var(--color-second);
  color: var(--color-zero);
  border: solid 2px #488f49;
}

.Main__form--result input {
  width: 267px;
  border-radius: 10px;
}

.Main__form--tempo input{
  height: 18px;
  width: 145px;
}

.Main__planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Main__planos--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-width: 300px;
  width: 90vw;
  background:	linear-gradient(top,  #fff 0%, #d0ffeb80 100%);
	background: -webkit-linear-gradient(top,  #fff 0%, #d0ffeb80 100%);
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  margin: 20px 15px;
  text-align: center;
  z-index: 1;
  transition: all 350ms;
}

.Main__planos--card--title {
  font-weight: bold;
  color: var(--color-negative);
  font-size: 22px;
}

.Main__planos--card--text {
  color: var(--color-negative);
  margin: 20px;
}

.Main__planos--card--text span {
  font-weight: bold;
}

.Main__planos--card--price {
  font-size: 18px;
  color: var(--color-negative);
  font-weight: bold;
}

.Main__planos--card--price span {
  font-size: 14px;
  font-weight: 300;
}

.Main__planos--card--button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--color-zero);
  background: var(--color-primary);
  cursor: pointer;
  transition: all 200ms;
}

.Main__planos--card--button:hover {
  background: var(--color-second);
}

/* Footer */

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--color-third);
}

.Footer__logo {
  padding: 30px;
  width: 100px;
}

.Footer__social {
  padding-bottom: 20px;
}

.Footer__social--email,
.Footer__social--telefone {
  display: flex;
}

.Footer__social--email i {
  color: var(--color-zero);
  margin: 5px;
}

.Footer__social--email h4 {
  color: var(--color-zero);
  font-weight: 300;
  font-size: 15px;
  margin: 5px;
}

.Footer__social--telefone i {
  color: var(--color-zero);
  margin: 5px;
}

.Footer__social--telefone h4 {
  font-weight: 300;
  color: var(--color-zero);
  margin: 5px;
}

.Footer__hearth {
  color: var(--color-zero);
  font-weight: 300;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: var(--color-third-light);
}

.Footer__hearth i {
  margin: 0 2px;
  color: rgb(235, 86, 86);
}

/* Mobile Medium */
@media (min-width: 375px) {
  /* Main */
  .Main__form--tempo input {
    width: 204px;
  }

  .Main__form--button input {
    width: 217px;
  }

  .Main__form--result input {
    width: 322px;
  }

  /* Footer */
  .Footer__social {
    padding-bottom: 0;
  }
}

/* Mobile large */
@media (min-width: 425px) {
  /* Main */
  .Main__form--tempo input {
    width: 254px;
  }

  .Main__form--button input {
    width: 267px;
  }

  .Main__form--result input {
    width: 372px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* Header */
  .Header__banner--text {
    font-size: 20px;
    padding: 30px 80px;
    line-height: 25px;
  }

  .Header__banner--button {
    font-size: 22px;
  }

  /* Main */
  
  .Main--text {
    margin: 20px 60px;
  }

  .Main__form--tempo input {
    width: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .Main__form--plano select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .Main__form--button input {
    width: 200px;
  }

  .Main__form--result input {
    width: 633px;
  }
}

/* laptop */
@media (min-width: 1024px) {
  /* Header */
  .Header__navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .Header__navbar--logo {
    width: 220px;
    margin-bottom: 14px;
  }

  .Header__navbar--menu li {
    margin-top: 15px;
  }

  .Header__navbar--menu a {
    font-size: 20px;
  }

  .Header__banner--text {
    font-size: 24px;
    padding: 30px 110px;
  }

  /* Main */
  .Main--text {
    font-size: 28px;
  }

  .Main__planos {
    flex-direction: row;
  }

  .Main__planos--card {
    margin-bottom: 40px;
  }

  .Main__planos--card:hover {
    transform: scale(1.1);
  }

  .Main__form {
    margin: 0 80px;
  }
}

/* laptop large */

@media (min-width: 1440px) {
  /* Header */
  .Header__banner--text {
    padding: 30px 260px;
    line-height: 40px;
  }

  /* Main */
  .Main--text {
    margin: 30px 240px;
  }

  .Main__form {
    margin: 0 195px;
  }

  .Main__form--origem select,
  .Main__form--destino select {
    width: 80px;
    height: 40px;
  }

  .Main__form--tempo input {
    height: 26px;
  }

  .Main__form--plano select {
    height: 40px;
  }

  .Main__form--button input {
    height: 40px;
  }

  .Main__form--result input {
    height: 26px;
  }
}